spring:
  application:
    name: product-service

  datasource:
    # url: jdbc:postgresql://localhost:5433/productdb
    url: jdbc:mysql://localhost:3307/Twinners
    username: Twinners
    password: Danlard8576

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        properties:
          hibernate:
            format_sql: true

server:
  port: 8081
